.patient-list-topbar > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding: 0.5rem 2rem 0.5rem 2rem;
  align-items: center;
  ::ng-deep .mat-form-field-wrapper {
    margin-bottom: -1.25em;
  }
  .icon-container {
    color: var(--primary-color);
  }

  @media all and (min-width: 768px) {
    flex-direction: row;
  }
}

.patient-list-container {
  background-color: var(--bg-color);
  height: 100%;
  padding: 1.5rem;
  h2 {
    color: var(--main-color);
  }
  .table-container {
    height: 80vh;
    overflow: auto;

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .patients-table {
      width: 90%;
      margin: auto;

      .mat-header-cell {
        padding: 1rem;
      }

      .mat-row .mat-cell {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        padding: 1rem;
        white-space: nowrap;
        color: var(--primary-color);
      }

      .mat-row:hover .mat-cell {
        border-color: blue;
        background-color: paleturquoise;
      }
    }
    .mat-column-avatar {
      &.patient-image img {
        border-radius: 50%;
        // max-width: 3rem;
        width: 3rem;
        height: 3rem;
      }
    }

    .mat-column-address {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 8rem;
    }
    .mat-column-viewDetails button {
      background-color: #f0f6ff;
      color: blue;
    }
  }
}
