<div class="patient-list-topbar">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Search for patient name</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Search for patient name"
        #input
      />
      <div matSuffix class="icon-container">
        <mat-icon>search</mat-icon>
      </div>
    </mat-form-field>
    <app-topbar></app-topbar>
  </div>
</div>

<div class="patient-list-container">
  <h2>Patient List</h2>
  <div class="table-container">
    <div *ngIf="isLoading" class="center">
      <mat-spinner> </mat-spinner>
    </div>

    <table
      *ngIf="!isLoading"
      mat-table
      [dataSource]="dataSource"
      class="patients-table"
    >
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let patient" class="patient-image">
          <img
            src="{{ patient.image }}"
            width="48px"
            height="48px"
            alt="patient avatar"
          />
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>NAME</th>
        <td mat-cell *matCellDef="let patient" class="patient-name">
          {{ patient.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>GENDER</th>
        <td mat-cell *matCellDef="let patient">{{ patient.gender }}</td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>AGE</th>
        <td mat-cell *matCellDef="let patient">{{ patient.age }}</td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>PHONE NUMBER</th>
        <td mat-cell *matCellDef="let patient">{{ patient.phone }}</td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>ADDRESS</th>
        <td mat-cell *matCellDef="let patient">{{ patient.address }}</td>
      </ng-container>
      <ng-container matColumnDef="viewDetails">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let patient">
          <button mat-stroked-button (click)="viewDetails(patient.id)">
            view Profile
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
  </div>
</div>
