nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  .desktop-only {
    display: none;
  }

  .link-buttons {
    border: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    opacity: 0.4;
  }

  .pills,
  .active {
    border: 1px solid black;
    background-color: var(--accent-color);
    opacity: 1;
  }

  .upper-bar {
    margin-top: 1rem;
    align-items: center;

    .image-container {
      margin-bottom: 2rem;
    }

    .mb-2 {
      margin-bottom: 0.5rem;
    }
  }

  .lower-bar {
    margin-bottom: 1.5rem;
  }
  @media all and (min-width: 768px) {
    .desktop-only {
      display: inline-block;
      text-align: center;
    }
    .link-buttons .icons {
      margin-right: 1rem;
    }
  }
}
