.accounts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .left-container {
    // background-color: red;
    background-image: url("/assets/img/serious-asian-young-female-doctor-using-tablet-computer_1.jpg");

    background-size: cover;
    .left-container-sub {
      height: 100%;
      display: flex;
      margin-top: 3rem;
      background-color: rgba(255, 255, 255, 0.95);

      @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        .left-container-sub {
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(20px);
          // background-color: rgba(255, 255, 255, 0.5);
        }
        .warning {
          display: none;
        }
      }
    }
    .left-container-sub-sub {
      width: 80%;
      margin: auto;
    }
    .image-container {
      border: 1.5rem solid;
      border-color: white;
      border-radius: 50%;
      width: 13rem;
      height: 13rem;
      margin: auto;
      margin-top: 2rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .image-container-sub {
      box-shadow: 0 4px 16px 3px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
      height: 100%;
      border-radius: 50%;
    }
    .image-container img {
      // height: 12rem;
      // width: 12rem;
      // object-fit: cover;
      // border-radius: 50%;

      height: 16rem;
      border-radius: 50%;
      bottom: 6.2rem;
      height: 16rem;
      object-fit: cover;
      max-width: 200%;
      width: 145%;
      position: relative;
      right: 2.5rem;
    }
    .text-container {
      text-align: center;
      width: 80%;
      margin: auto;
      margin-top: 4rem;
    }
    .text-container h3 {
      color: var(--main-color);
    }
    .text-container p {
      color: var(--faint-color);
    }
  }
  @media all and (min-width: 768px) {
    flex-direction: row;
    .left-container {
      width: 45%;
      .left-container-sub {
        margin-top: 0;
      }
    }
    .right-container {
      width: 55%;
    }
  }
}
