<div class="accounts-container">
  <div class="left-container">
    <div class="left-container-sub">
      <div class="left-container-sub-sub">
        <div class="image-container">
          <div class="image-container-sub">
            <img
              src="assets/img/serious-asian-young-female-doctor-using-tablet-computer_1.svg"
              alt="Serious asian young female doctor using a tablet computer"
            />
          </div>
        </div>
        <div class="text-container">
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisic</p>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <router-outlet></router-outlet>
  </div>
</div>
