<div class="stepper-container">
  <div class="patient-registration-topbar">
    <h2>Register Patient</h2>
    <div class="topbar-container">
      <app-topbar></app-topbar>
    </div>
  </div>

  <div class="patient-registration-container">
    <mat-stepper
      linear
      labelPosition="bottom"
      #stepper
      [orientation]="verticalOrientation ? 'vertical' : 'horizontal'"
      class="mat-stepper"
    >
      <!-- Patient Details -->
      <mat-step [stepControl]="patientDetails" [optional]="true" state="start">
        <form id="formDetails" [formGroup]="patientDetails">
          <ng-template matStepLabel>Patient Details</ng-template>
          <div class="flex">
            <div class="w-27 image-container">
              <div
                class="dropzone"
                appDnd
                (fileDropped)="onFileDropped($event)"
              >
                <input
                  id="fileDropRef"
                  type="file"
                  #fileDropRef
                  formControlName="imagePlaceholder"
                  accept="image/*"
                  class="visually-hidden"
                  (change)="onChange($event)"
                />
                <div class="file-preview" *ngIf="filename || imageError">
                  <div class="info">
                    <img
                      *ngIf="!imageError && imgSrc"
                      [src]="imgSrc"
                      alt="your image"
                    />
                    <p *ngIf="imageError" class="error-tag">
                      <span class="red">Error Encountered: </span> Enter an
                      Image file less than 5mb.
                    </p>
                    <p class="name" *ngIf="!imageError">
                      {{ filename }} <span>{{ size }}</span>
                    </p>
                    <button type="button" mat-raised-button>
                      <label for="fileDropRef">Change Picture</label>
                    </button>
                  </div>
                </div>
                <div *ngIf="!filename && !imageError">
                  <mat-icon class="image-icon">image</mat-icon>
                  <p>Drag and Drop your picture here</p>
                  <p>OR</p>
                  <button type="button" mat-raised-button>
                    <label for="fileDropRef">Upload Picture</label>
                  </button>
                </div>
              </div>
            </div>
            <div class="flex column w-70">
              <div class="flex flex-start">
                <mat-form-field appearance="outline" class="lga">
                  <mat-label>Patient Title</mat-label>
                  <mat-select formControlName="title">
                    <mat-option *ngFor="let title of titles" [value]="title">{{
                      title
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-50">
                  <mat-label>Patient Surname</mat-label>
                  <input
                    matInput
                    placeholder="Surname"
                    formControlName="surname"
                    required
                  />
                </mat-form-field>
              </div>
              <div class="flex">
                <mat-form-field appearance="outline" class="w-45">
                  <mat-label>Patient First Name</mat-label>
                  <input
                    matInput
                    placeholder="Patient First Name"
                    formControlName="firstName"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-45">
                  <mat-label>Patient Middle Name</mat-label>
                  <input
                    matInput
                    placeholder="Patient Middle Name"
                    formControlName="middleName"
                    required
                  />
                </mat-form-field>
              </div>
              <div class="flex">
                <mat-form-field appearance="outline" class="w-45">
                  <mat-label>Patient Phone Number</mat-label>
                  <input
                    matInput
                    placeholder="Patient Phone Number"
                    formControlName="phone"
                    required
                  />
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-45">
                  <mat-label>Patient Email</mat-label>
                  <input
                    matInput
                    placeholder="Patient Email"
                    formControlName="email"
                    required
                  />
                </mat-form-field>
              </div>
              <div class="flex flex-start">
                <mat-form-field appearance="outline" class="lga w-22">
                  <mat-label>Gender</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option
                      *ngFor="let gender of genders"
                      [value]="gender"
                      >{{ gender }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-50">
                  <mat-label>Date of Birth</mat-label>
                  <input
                    type="date"
                    matInput
                    placeholder="Date of Birth (mm/dd/yy)"
                    formControlName="dob"
                    required
                  />
                </mat-form-field>
              </div>
              <div class="flex">
                <mat-form-field appearance="outline" class="w-75">
                  <mat-label>Address</mat-label>
                  <textarea
                    Rows="5"
                    matInput
                    placeholder="Address"
                    formControlName="address"
                    required
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="navigators">
            <button class="next" mat-raised-button matStepperNext>
              Continue
            </button>
          </div>
        </form>
      </mat-step>

      <!-- other Details -->
      <mat-step [stepControl]="otherDetails" [optional]="true">
        <form [formGroup]="otherDetails">
          <ng-template matStepLabel>Other</ng-template>
          <div class="flex">
            <mat-form-field appearance="outline" class="w-20">
              <mat-label>Ethnicity</mat-label>
              <mat-select formControlName="ethnicity">
                <mat-option
                  *ngFor="let dummy of ethnicGroups"
                  [value]="dummy"
                  >{{ dummy }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-20">
              <mat-label>Religion</mat-label>
              <input
                matInput
                placeholder="Religion"
                formControlName="religion"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-20">
              <mat-label>Marital Status</mat-label>
              <mat-select formControlName="maritalStatus">
                <mat-option
                  *ngFor="let dummy of maritalStatuses"
                  [value]="dummy"
                  >{{ dummy }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-35">
              <mat-label>Occupation</mat-label>
              <input
                matInput
                placeholder="Occupation"
                formControlName="occupation"
                required
              />
            </mat-form-field>
          </div>
          <div class="flex">
            <mat-form-field appearance="outline" class="w-22">
              <mat-label>Blood Group</mat-label>
              <input
                matInput
                placeholder="Blood Group"
                formControlName="bloodGroup"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-22">
              <mat-label>Patient Type</mat-label>
              <input
                matInput
                placeholder="Patient Type"
                formControlName="patientType"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-22">
              <mat-label>Nationality</mat-label>
              <mat-select formControlName="nationality">
                <mat-option *ngFor="let dummy of countries" [value]="dummy">{{
                  dummy
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-22">
              <mat-label>State of Origin</mat-label>
              <mat-select formControlName="state">
                <mat-option *ngFor="let dummy of states" [value]="dummy">{{
                  dummy
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="lga">
              <mat-label>Local Government</mat-label>
              <mat-select formControlName="lga">
                <mat-option *ngFor="let dummy of lgas" [value]="dummy">{{
                  dummy
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>State of Residence</mat-label>
              <mat-select formControlName="residence">
                <mat-option *ngFor="let dummy of states" [value]="dummy">{{
                  dummy
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="navigators">
            <button class="prev" mat-button matStepperPrevious>Back</button>
            <button class="next" mat-raised-button matStepperNext>
              Continue
            </button>
          </div>
        </form>
      </mat-step>

      <!-- Next of Kin -->
      <mat-step [stepControl]="nextOfKinDetails" [optional]="true">
        <form [formGroup]="nextOfKinDetails">
          <ng-template matStepLabel>Next of Kin</ng-template>
          <div class="flex">
            <mat-form-field appearance="outline" class="w-35">
              <mat-label>Full Name</mat-label>
              <input
                matInput
                placeholder="Full Name"
                formControlName="name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-22">
              <mat-label>Relationship</mat-label>
              <mat-select formControlName="relationship">
                <mat-option
                  *ngFor="let dummy of relationships"
                  [value]="dummy"
                  >{{ dummy }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-35">
              <mat-label>Patient Phone Number</mat-label>
              <input
                matInput
                placeholder="Patient Phone Number"
                formControlName="patientPhoneNumber"
                required
              />
            </mat-form-field>
          </div>
          <div class="flex">
            <mat-form-field appearance="outline" class="w-50">
              <mat-label>Patient Address</mat-label>
              <textarea
                matInput
                Rows="5"
                placeholder="Patient Address"
                formControlName="patientAddress"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="navigators">
            <button class="prev" mat-button matStepperPrevious>Back</button>
            <button class="next" mat-raised-button matStepperNext>
              Continue
            </button>
          </div>
        </form>
      </mat-step>

      <!-- HMO -->
      <mat-step [stepControl]="hmoDetails" state="stop">
        <form [formGroup]="hmoDetails">
          <ng-template matStepLabel>HMO</ng-template>

          <mat-form-field appearance="outline">
            <mat-label>Spanar Billing Policy</mat-label>
            <mat-select formControlName="spanar">
              <mat-option *ngFor="let dummy of policies" [value]="dummy">{{
                dummy
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="navigators">
            <button class="prev" mat-button matStepperPrevious>Back</button>
            <button
              class="next"
              [disabled]="loading"
              mat-raised-button
              (click)="registerPatient()"
            >
              <mat-spinner
                *ngIf="loading"
                [diameter]="20"
                class="my-spinner"
              ></mat-spinner>
              Register Patient
            </button>
          </div>
        </form>
      </mat-step>

      <ng-template matStepperIcon="start">
        <mat-icon>arrow_right_alt</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="stop">
        <mat-icon>stop_circle</mat-icon>
      </ng-template>
    </mat-stepper>
  </div>
</div>
