.dialog-box-container {
  padding: 2rem;
  .dialog-content {
    color: var(--main-color);
    margin-bottom: 1rem;
    font-weight: 600;
  }
  button {
    background-color: var(--primary-color);
    color: white;
    margin: auto;
    width: 9rem;
  }
}
